@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Play:wght@400;700&display=swap');

:root {
    --font-family-1: 'Play', sans-serif;
    --font-family-2:'Nova Square', sans-serif;
    
    /* --bg-color: #164863;
    --cor-primaria: #DDF2FD;
    --cor-secundaria: #9BBEC8;
    --cor-terciaria: #427D9D; */

    --bg-color: #5D12D2;
    --cor-primaria: #FFE5E5;
    --cor-secundaria: #FF6AC2;
    --cor-terciaria: #B931FC;
}

body {
    background-color: var(--bg-color);
    color: var(--cor-secundaria);
    font-family: var(--font-family-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

h1 {
    color: var(--cor-primaria);
    font-family: var(--font-family-2);
    font-size: 5em;
    font-weight: 500;
}

h3 {
    font-size: 3em;
    margin: 10px 0;
}

.mensagem{
    font-size: 2em;
}

.mensagem_acertou {
    font-size: 3.5em;
    font-family: var(--font-family-2);
}

.box {
    border: 5px solid var(--cor-terciaria);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 15px 0;
    font-size: 2em;
}

.box_venceu {
    border: 5px solid var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 15px 0;
    font-size: 5em;
}

.acertou{
    font-size: 5.5em;
    font-family: var(--font-family-1);
}

.btn_jogaNovamente {
    border: 0;
    border-radius: 10px;
    margin-top: 25px;
    padding: 7px;
    background-color: var(--cor-primaria);
    font-size: 2em;
    color: var(--bg-color);
    font-family: var(--font-family-1);
    font-weight: 700;
}

.btn_jogaNovamente:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.mensagem_alert {
    font-family: var(--font-family-2);
    font-size: 1em;
    padding: 3px;
    color: var(--cor-primaria);
    margin-top: 35px;
}